name: Test and Lint
on:
  push:
    branches:
      - main
  pull_request:
    branches:
      - '*'

jobs:
    Linux-test-and-lint:
        name: Ubuntu Linux Test and Lint
        runs-on: ubuntu-latest
        strategy:
          matrix:
            python-version: ["3.10", "3.11", "3.12"]

        timeout-minutes: 10

        steps:
          - name: Checkout the repo
            uses: actions/checkout@v5
          - name: Setup python
            uses: actions/setup-python@v6
            with:
              python-version: ${{ matrix.python-version }}
          - run: |
              python -m pip install --upgrade pip
              pip install ".[test]"
          - uses: psf/black@05f0a8ce1f71fbb36e1e032d3b518c7b945089a2 # 25.11.0
          - name: Lint with flake8
            run: |
              # stop the build if there are Python syntax errors or undefined names
              flake8 . --count --select=E9,F63,F7,F82 --show-source --statistics
              # exit-zero treats all errors as warnings. The GitHub editor is 127 chars wide
              flake8 . --count --exit-zero --max-complexity=10 --max-line-length=127 --statistics
          - name: Test with Pytest
            run: |
              pytest --cov-fail-under=60
          - uses: astral-sh/ruff-action@57714a7c8a2e59f32539362ba31877a1957dded1 # v3.5.1
            with:
              src: "./gatox"

    OSX-test-and-lint:
        name: OS X Test and Lint
        runs-on: macos-latest
        strategy:
          matrix:
            python-version: ["3.10","3.11","3.12"]

        timeout-minutes: 10

        steps:
          - name: Checkout the repo
            uses: actions/checkout@v5
          - name: Setup python
            uses: actions/setup-python@v6
            with:
              python-version: ${{ matrix.python-version }}
          - run: |
              python -m pip install --upgrade pip
              pip install ".[test]"
          - uses: psf/black@05f0a8ce1f71fbb36e1e032d3b518c7b945089a2 # 25.11.0
          - name: Lint with flake8
            run: |
              # stop the build if there are Python syntax errors or undefined names
              flake8 . --count --select=E9,F63,F7,F82 --show-source --statistics
              # exit-zero treats all errors as warnings. The GitHub editor is 127 chars wide
              flake8 . --count --exit-zero --max-complexity=10 --max-line-length=127 --statistics
          - name: Test with Pytest
            run: |
              pytest --cov-fail-under=60
